# /docker/proxy/authelia/config/configuration.yml


# Server-Einstellungen
server:
  # Der Port, auf dem Authelia innerhalb des Docker-Netzwerks lauscht.
  port: 9091

# Protokollierungseinstellungen
log:
  level: info

# Sitzungs-Management
session:
  secret: '${AUTHELIA_SESSION_SECRET}'
  cookies:
    - domain: 'helmus.me'
      authelia_url: 'https://auth.helmus.me'
      default_redirection_url: 'https://traefik.helmus.me'
      name: 'authelia_session'
      same_site: 'none' # from lax to none to embedd in iframe HommeAssistant
      inactivity: '5m'
      expiration: '1h'


storage:
  local:
    path: /config/db.sqlite3

notifier:
  disable_startup_check: true
  filesystem:
    filename: /config/notifications.txt

access_control:
  default_policy: deny
  rules:
    - domain:
        - "auth.helmus.me"
      policy: bypass

    - domain:
        - "pihole.homelab.local"
        - "pihole.helmus.me"
      subject: "group:admins"
      policy: one_factor
      
    - domain:
        - "*.helmus.me"
      subject: "group:admins"
      policy: one_factor
  
authentication_backend:
  file:
    path: /config/users.yaml
    password:
      algorithm: argon2id
      iterations: 3
      salt_length: 16
      key_length: 32
      memory: 65536
      parallelism: 4


